{% extends "master.html" %}
<!---->
{% block title %} Members List {% endblock %}
<!---->
{% block content %}

<nav class="main-nav"> 
  <p><a href="/">HOME</a></p>
</nav>


<div class="main-content">
  <div class="member-container">
    <h1 class="members-title">Members</h1>
  
    <ul>
      {% for x in mymembers %}
      <li>
        <a class="btn-member" href="details/{{ x.id }}">{{ x.firstname }} {{ x.lastname }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  
</div>


{% endblock %}
