{% load static %}

<!DOCTYPE html>
<html lang="en">
  <title>Template</title>
  <link rel="stylesheet" href="{% static 'mycss.css' %}">
<style>
    body {
        margin: 0;
    }
</style>
  <body>
    <h1>Test Page</h1>

    {% include 'menu.html' with me='Mario' %}

    {% for x in mymembers reversed %}
    <h1>{{ x.firstname }}</h1>
    <p>{{ x.lastname }}</p>
    <p>{{ x.phones }}</p>
    <p>{{ x.joined_date }}</p>
    {% endfor %} 
    
    {# show the fruit #}
    {% if 'Banana' in fruits %}
    <h1>BA NA NA</h1>
    {% else %}
    <h1>eat sausage</h1>
    {% endif %}

    <!-- for loop -->
    {% for x in mymembers %}
    <li>{{ x.firstname }}</li>
    {% endfor %}

    {% include 'footer.html' %}
  </body>
</html>
